*{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
ul{
    list-style-type: none;
}

/* commons -------------------------------------------------------------------------------------------------------------- */

/* 
header -------------------------------------------------------------------------------------------------------------------
*/

.header{
    width: 100%;
}
.header__navbar{
    width: 100%;
}
.header__navbar.navbar,
.header{
    background-color: #2F7BED !important;
}
.navbar__logo img{
    width: 116px;
    display: block;
}
.navbar__logo{
    font-size: 14px;
}
.navbar__logo span{
    color: #fff !important;
    font-size: 9px !important;
    font-weight: 600;
}
.navbar__link{
    height: 100% !important;
}
.header__item a{
    font-size: 16px;
    font-weight: 500;
}
.header__item a,
.header__login_link,
.header__login_get{
    text-transform: capitalize;
    text-align: center;
}
.header__login_get{
    text-transform: uppercase;
}
.header__item a:hover{
    color: rgb(0, 0, 0, 0.9) !important;
}
.header__item{
    position: relative;
}
.header__item_hide{
    width: 250px;
    position: absolute;
    left: -50px;
    z-index: 1;
    transform: translateY(140px);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 10px 32px -10px;
    border: 5px solid #2F7BED;
    background-color: #FFF;
    transition: all ease .2s;
}
.header__item_hide a{
    font-size: 14px;
}
.header__item:nth-child(3) .header__item_hide{
    padding: 10px 0;
}
.header__item:nth-child(3) .header__item_hide{
    margin-left: -35px;
}
.header__item_hide ul{
    padding: 0 !important;
}
.header__item_hide a{
    color: #707788 !important;
}
.header__item_hide_triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2F7BED;
    background-color: inherit;
}
.header__navbar > button:focus{
    outline: none;
}
.header__login{
    padding-left: 60px;
}
.sub-m-main{
    position: relative;
    margin: -20px 0;
}
.sub-m-main:hover{
    background-color: #fff;
}
.sub-m-main:hover .header__item_hide{
    visibility: visible;
    opacity: 1;
    transform: translateY(110px);
}
.sub-m-main:hover.header__item > a{
    color: rgb(0, 0, 0, 0.9) !important;
}
.header__login_link{
    padding-right: 10px;
    position: relative;
}
.header__login_link::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #FFF;
}
.header__login_get{
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #FFF;
    padding: 6px 10px;
    border-radius: 3px;
}

/* 
footer -------------------------------------------------------------------------------------------------------------------
*/

.footer{
    height: 123px;
    background-color: #35425F;
    position: relative;
}
.footer__nav{
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}
.footer__nav_item a{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    line-height: 19px;
    text-transform: capitalize;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position ease .7s;
}
.footer__nav_item a:hover{
    background-position: 0 100%;
}
.footer__nav_icon{
    width: 35px;
}

.footer__inputs{
    width: 100%;
}
.footer__join{
    font-size: 15px;
    background-color: #73717C;
    color: #FFF !important;
    border: none;
    border-radius: 3px;
    height: 50px;
    width: 280px;
    padding-left: 10px;
    padding-top: 0;
    margin-right: 10px;
    outline: none;
}
.footer__join_label {
    color: white;
    position: absolute;
    display: block;
    transform: translate(10px);
    transform-origin: left center;
    transition: transform ease .2s;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
input:valid + .footer__join_label {
    transform: translate(10px, -35px) scale(.75, .75);
}
.footer__send{
    font-size: 16px;
    text-transform: capitalize;
    color: #FFF;
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: #67D149;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease .3s;
}
.footer__send:hover{
    background-color: #4daf32;
}

.footer_icons{
    width: 100%;
    justify-content: space-evenly;
}
.footer_icon a{
    transition: .3s;
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 0;
    text-align: right;
    line-height: 19px;
}
.footer_icon:nth-child(1) a{
    font-family: none;
    font-weight: 900;
}
.footer_icon:nth-child(1) a:hover{
    background-color: #02b875;
    color: #FFF !important;
}
.footer_icon:nth-child(2) a:hover{
    background-color: #3b5998;
}
.footer_icon:nth-child(2) a:hover i{
    color: #FFF !important;
}
.footer_icon:nth-child(3) a:hover{
    background-color: #1da1f3;
}
.footer_icon:nth-child(3) a:hover i{
    color: #FFF !important;
}
.footer_icon:nth-child(4) a:hover{
    background-color: #0077b5;
}
.footer_icon:nth-child(4) a:hover i{
    color: #FFF !important;
}
.footer_icon i,
.footer_icon:nth-child(1) a{
    color: black !important;
    font-size: 20px;
}

.footer__bottom{
    background-color: #243c71;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer__bottom_h3{
    font-size: 15px;
    color: #FFF !important;
    font-weight: 400;
    margin: 0;
}

/* 
loader -------------------------------------------------------------------------------------------------------------------
*/

.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    z-index: 999999;
}
.loader__gif{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
home -------------------------------------------------------------------------------------------------------------------
*/

.home{
    background-color: #2F7BED;
    width: 100%;
    min-height: calc(100vh - 71px);
    padding-bottom: 50px;
}
.home__img{
    margin-left: -335px;
}
.home__img img{
    width: 100%;
    display: block;
}

.home__title h1{
    font-size: 48px;
    text-align: center;
    line-height: 63px;
    color: #fff;
}
.home__title h2{
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: #fff;
}
.home__try {
    background-color: #67D149;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    margin-right: 15px;
    transition: background-color ease .4s;
}
.home__try:hover{
    background-color: #4daf32;
}
.home__how {
    background: #FFF;
    border: 1px solid rgba(196,199,207,.54);
    color: #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    height: 50px;
}
.home__how span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4daf32;
    margin-right: 5px;
}
.home__how i{
    color: white;
}

/* 
information ----------------------------------------------------------------------------------------------------------------
*/

.information{
    width: 100%;
    background-image: url(../../media/img/information/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}
.information_title,
.information_subtitle,
.solution .title,
.solution__tabs > .nav,
.solution__tabs_cont_see,
.advantage > .title,
.advantage .container span,
.advantage .container h3,
.advantage .container p,
.register__title,
.register__par,
.register__link,
.news__title{
    opacity: 0;
    transform: translateY(100px);
    transition: all ease 1s;
}
.show{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.information_title h2{
    font-size: 32px;
    color: #35425F;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
}
.information_subtitle h3{
    font-size: 18px;
    color: #707788;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
}

/* 
solution -------------------------------------------------------------------------------------------------------------------
*/

.title{
    padding-top: 80px;
}
.title h6{
    font-size: 12px;
    font-weight: 600;
    color: #BDC0C7;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.title h2{
    font-size: 36px;
    letter-spacing: -.69px;
    line-height: 52px;
    margin-bottom: 70px;
    text-align: center;
}
.solution__tabs_item .active{
    color: #3284FF !important;
}
.solution__tabs_item a{
    color: #000 !important;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.35px;
    line-height: 28px;
    padding: 14px 37px;
    transition: border .4s ease;
}
.solution__tabs_item a:hover{
    border: 1px solid #BDC0C7;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.solution__tabs_cont{
    margin-top: 50px;
}
.solution__tabs_cont_itemb{
    background-color: transparent !important;
    border-bottom: 1px solid #BDC0C7;
    border-right: 1px solid #BDC0C7;
    position: relative;
    padding-top: 25px;
    padding-bottom: 55px;
    opacity: 0;
    transform: translateY(100px);
    transition: all ease .4s;
}
.solution__tabs_cont_itemb:nth-child(1):hover{
    background-color: #3b5998 !important;
}
.solution__tabs_cont_itemb:nth-child(2):hover{
    background-color: #1581e2 !important;
}
.solution__tabs_cont_itemb:nth-child(3):hover{
    background-color: #57a67e !important;
}
.solution__tabs_cont_itemb:nth-child(4):hover{
    background-color: #8200ff !important;
}
.solution__tabs_cont_itemb:nth-child(5):hover{
    background-color: #9e0b0f !important;
}
.solution__tabs_cont_itemb:nth-child(6):hover{
    background-color: #1dd069 !important;
}
.solution__tabs_cont_itemb:nth-child(7):hover{
    background-color: #000000 !important;
}
.solution__tabs_cont_itemb:nth-child(8):hover{
    background-color: #f2bf04 !important;
}

.solution__tabs_cont_itemb:nth-child(1):hover h3,
.solution__tabs_cont_itemb:nth-child(1):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(2):hover h3,
.solution__tabs_cont_itemb:nth-child(2):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(3):hover h3,
.solution__tabs_cont_itemb:nth-child(3):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(4):hover h3,
.solution__tabs_cont_itemb:nth-child(4):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(5):hover h3,
.solution__tabs_cont_itemb:nth-child(5):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(6):hover h3,
.solution__tabs_cont_itemb:nth-child(6):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(7):hover h3,
.solution__tabs_cont_itemb:nth-child(7):hover p{
    color: #fff !important;
}
.solution__tabs_cont_itemb:nth-child(8):hover h3,
.solution__tabs_cont_itemb:nth-child(8):hover p{
    color: #fff !important;
}

.solution__tabs_cont_itemb:nth-child(4){
    border-right: none;
}
.solution__tabs_cont_itemb:nth-child(5),
.solution__tabs_cont_itemb:nth-child(6),
.solution__tabs_cont_itemb:nth-child(7),
.solution__tabs_cont_itemb:nth-child(8){
    border-bottom: none;
}
.solution__tabs_cont_itemb:nth-child(8){
    border-right: none;
}
.solution__tabs_cont_itemb:nth-child(1)::after,
.solution__tabs_cont_itemb:nth-child(2)::after,
.solution__tabs_cont_itemb:nth-child(3)::after{
    position: absolute;
    content: url(../../media/img/solution/krest.png);
    bottom: 0;
    right: 0;
    transform: translate(50%, 65%);
    z-index: 1;
}
.solution__tabs_cont_itemb h3{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #35425F !important;
    letter-spacing: 0;
    line-height: 26px;
    height: 68px;
}
.solution__tabs_cont_itemb p{
    font-size: 14px;
    color: #707788;
    letter-spacing: 0;
    line-height: 24px;
    text-align: justify;
    font-weight: 500;
}

.solution__tabs_cont_itemi{
    border-bottom: none;
}
.solution__tabs_cont_itemi:nth-child(3){
    border-right: none;
}
#industry .solution__tabs_cont_itemb::after{
    content: "";
}
.solution__tabs_cont_see span{
    font-size: 25px;
    margin-right: 10px;
}
.solution__tabs_cont_see a{
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #67D149 !important;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 80px;
}

/* 
advantage -------------------------------------------------------------------------------------------------------------------
*/

.advantage__img img{
    width: 90%;
    display: block;
}
.advantage__info span{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #BDC0C7;
    letter-spacing: .5px;
    text-align: center;
}
.advantage__info h3{
    font-weight: 900;
    font-size: 32px;
    color: #35425F;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: .5rem !important;
}
.advantage__info p{
    font-size: 16px;
    color: #707788;
    letter-spacing: 0;
    line-height: 24px;
}
.advantage__analytics_bg{
    margin-top: -185px;
    margin-left: -100px;
}
.advantage__analytics_bg img{
    display: block;
    width: 100%;
}

.advantage__Savings{
    margin-top: -80px;
}
.advantage__savings_bg,
.advantage__cutting_bg,
.advantage__security_bg{
    width: 100%;
}
.advantage__savings_bg img{
    display: block;
    margin-right: 40px;
}

.advantage__cutting{
    margin-top: -220px;
}
.advantage__cutting_bg {
    margin-top: -120px;
    margin-left: 30px;
}

.advantage__security_bg {
    margin-top: -30px;
}
.advantage__security_bg img{
    margin-right: 130px;
}

/* 
register -------------------------------------------------------------------------------------------------------------------
*/

.register{
    margin: 120px 0;
}
.register_container{
    width: 85%;
}
.register__cont{
    background-image: url(../../media/img/register/bg.png);
    background-color: #4A81FA;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
}
.register__title,
.register__par{
    color: #FFF;
    letter-spacing: 0;
    text-align: center;
}
.register__title{
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 20px;

}
.register__par{
    font-size: 18px;
    line-height: 26px;
    width: 100%;
}
.register__link{
    background-color: #FFF;
    font-size: 15px;
    font-weight: 600;
    color: #3284FF !important;
    letter-spacing: 0;
    border: none;
    border-radius: 3px;
    width: 240px;
    height: 50px;
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* 
news -------------------------------------------------------------------------------------------------------------------
*/

.news{
    background-color: #9797970f;
    padding: 50px 0;
}
.news__title h2{
    color: #35425F;
    font-size: 36px;
    letter-spacing: -.69px;
    line-height: 52px;
    text-transform: capitalize;
}
.news__link{
    margin-top: 130px;
}
.news__link a{
    border: 1px solid;
    font-size: 15px;
    font-weight: 600;
    color: #35425F !important;
    text-align: center;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.home__video video{
    width: 100%;
}






/* 
features__home **************************************************************************************************************
*/









.features__home_title{
    padding: 70px 0;
}
.features__home_title h6{
    font-size: 12px;
    color: #BDC0C7;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 900 !important;
}

.features__home_title h1{
    font-size: 52px;
    color: #35425F;
    letter-spacing: -1px;
    line-height: 60px;
    text-transform: capitalize;
    font-weight: 900 !important;
    text-align: center;
}
.features__home_line{
    width: 139px;
    height: 2px;
    background: #67D149;
    margin-top: 12px;
}
.features__home_info p{
    font-size: 18px;
    color: #707788;
    letter-spacing: 0;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 0;
}
.features__home_img{
    width: 100%;
    margin: 10px 0 40px 0;
}
.features__home_img img{
    width: 100%;
    display: block;
}
.features__home_info span{
    font-weight: 900;
    color: #000;
}
.features__home_title h2{
    font-size: 40px;
    color: #35425F;
    letter-spacing: 0;
    line-height: 52px;
    text-align: center;
    text-transform: capitalize;
}

/* 
features__management -------------------------------------------------------------------------------------------------------
*/

.features__management{
    padding-bottom: 50px;
}
.features__management_cont{
    margin-top: 120px;
}
.features__management_cont > div{
    margin-top: 50px;
}
.features__management_cont > div:first-child,
.features__management_cont > div:nth-child(2){
    margin-top: 0;
}
.features__management_cont_icon{
    border-radius: 50%;
    background-color: #F8F8F9;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.features__management_cont_icon img{
    width: 50%;
    display: block;
}
.features__management_item h3{
    font-size: 22px;
    color: #35425F;
    letter-spacing: -.42px;
    line-height: 32px;
    font-weight: 900;
}
.features__management_item p{
    font-weight: 500;
    font-size: 16px;
    color: #707788;
    letter-spacing: 0;
    line-height: 30px;
}

/* 
features__smart -------------------------------------------------------------------------------------------------------
*/

.features__smart{
    background-image: url(../../media/img/featuresPage/smart/bg.png);
    background-color: #4A81FA;
    padding-bottom: 90px;
}
.features__smart .features__home_title > h2{
    color: #FFF;
}
.features__smart_cont{
    width: 100%;
}
.features__smart_item{
    background-color: #FFF;
    padding: 20px 10px;
    max-width: 23.5%;
    margin: 15px 0;
}
.features__smart_item_head span{
    margin-left: 10px;
    font-size: 12px;
    color: #BDC0C7;
    letter-spacing: 2px;
    font-weight: 600;
}
.features__smart_item h3{
    font-size: 22px;
    color: #35425F;
    letter-spacing: -.42px;
    line-height: 32px;
    font-weight: 600;
}
.features__smart_item p{
    font-size: 14px;
    color: #707788;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: 400;
}

/* 
features__logistics -------------------------------------------------------------------------------------------------------
*/

.features__logistics{
    background-color: #f8f9fb;
}
.features__logistics_cont{
    width: 100%;
}
.features__logistics_item_img img{
    width: 60px;
    height: 60px;
    display: block;
}
.features__logistics_item h3{
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: -.42px;
    line-height: 32px;
    margin-top: 10px;
    font-weight: 700;
}
.features__logistics_item p{
    text-align: center;
    font-size: 14px;
    color: #707788;
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 500;
}

/* 
features__logistics -------------------------------------------------------------------------------------------------------
*/

.features__integration_cont{
    width: 100%;
    margin-top: 100px;
}
.features__integration_item_img img{
    width: 44px;
    display: block;
}
.features__integration_item:nth-child(2){
    border-left: 1px solid rgb(184, 184, 184);;
}
.features__integration_cont h3{
    text-transform: capitalize;
    font-size: 22px;
    color: #35425F;
    letter-spacing: -.42px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
}
.features__integration_item p{
    font-size: 16px;
    color: #707788;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    width: 100%;
}
.features__integration_cont:last-child{
    margin-top: 30px;
}
.features__see{
    padding-bottom: 100px;
}
.features__see a{
    font-size: 14px;
    color: #67D149 !important;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    font-weight: 500;
}
.features__see span{
    font-size: 18px;
    margin-right: 5px;
}










/* 
features__home **************************************************************************************************************
*/







.technology__home_img{
    padding: 0;
}
.technology__home_img img{
    width: 100%;
    display: block;
}
.technology__home_cont{
    margin-top: 50px;
}


/* 
technology__data -------------------------------------------------------------------------------------------------------
*/

.technology__data_item span{
    margin-right: 30px;
    width: 20px;
}
.technology__data_item img{
    width: 100%;
    display: block;
}
.technology__data_item h3{
    font-size: 18px;
    color: #707788;
    letter-spacing: 0;
    line-height: 64px;
    text-transform: capitalize;
}

/* 
technology__business -------------------------------------------------------------------------------------------------------
*/

.technology__business_cont{
    margin-top: 50px;
}
.technology__business_item_cont{
    margin-left: 30px;
}
.technology__business_cont_item{
    margin-top: 40px;
}
.technology__business_cont_item:nth-child(1),
.technology__business_cont_item:nth-child(2){
    margin-top: 0;
}
.technology__business_item_cont h3{
    font-size: 20px;
    color: #35425F;
    letter-spacing: 0;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 900;
}
.technology__business_item_cont p{
    line-height: 28px;
    font-size: 14px;
    color: #707788;
    font-weight: 500;
    margin-bottom: 0;
}
.technology__business_item_cont a{
    color: #2F7BED !important;
    text-decoration: underline !important;
}
.technology__business_cont_icon{
    margin-top: 40px;
}

/* 
technology__living -------------------------------------------------------------------------------------------------------
*/
.technology__living_cont{
    margin-top: 40px;
    padding: 0;
}
.technology__living_item h3{
    font-size: 24px;
    color: #35425F;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 700;
}
.technology__living_item p{
    font-size: 16px;
    color: #707788;
    letter-spacing: 0;
    line-height: 30px;
}
.technology__living_item_lists,
.technology__living_item_lists ul{
    padding: 0 !important;
    margin: 0 !important;
}
.technology__living_item_lists h3{
    font-size: 13px;
    color: #707788;
    letter-spacing: 0;
    line-height: 64px;
    font-weight: 300;
}
.technology__data_list span{
    margin-right: 5px;
}







/* 
resources__home **************************************************************************************************************
*/








.resources__home_icon{
    margin-top: 80px;
}

/* 
technology__business -------------------------------------------------------------------------------------------------------
*/

.resources__developers_item p,
.resources__developers_item h3{
    letter-spacing: 0;
    line-height: 34px;
}
.resources__developers_item p{
    font-size: 18px;
    color: #707788;
}
.resources__developers_item h3{
    font-size: 20px;
    color: #35425F;
    font-weight: 700;
}
.resources__developers_item a{
    font-size: 18px;
    color: #2F7BED !important;
    text-decoration: underline !important;
    text-transform: capitalize;
}
.resources__institutions_bottom{
    margin-top: 120px;
}
.resources__institutions_bottom a{
    font-size: 20px;
    color: #67D149 !important;
    text-align: center;
    text-decoration: underline !important;
    font-weight: 700;
}
.resources__institutions_more{
    font-size: 18px;
    color: #2F7BED !important;
    text-decoration: underline !important;
    display: inline-block;
    cursor: pointer;
}
.resources__institutions .features__home_info p{
    height: 235px;
    overflow: hidden;
    transition: height ease .4s;
}





/* 
buildings__home **************************************************************************************************************
*/





.building__cont,
.building__footer,
.industry__how_bot,
.industry__process{
    margin-top: 50px;
}
.building .title,
.building .information_title,
.building .information_subtitle,
.building .solution .title,
.building .solution__tabs > .nav,
.building .solution__tabs_cont_see,
.building .advantage > .title,
.building .advantage .container span,
.building .advantage .container h3,
.building .advantage .container p,
.building .register__title,
.building .register__par,
.building .register__link,
.building .news__title,
.building .solution__tabs_cont_itemb,
.building .advantage__info span,
.building .advantage__info h3,
.building .advantage__info p,
.industry__how_bot > div,
.solution__tabs_cont_see{
    opacity: 1;
    transform: translateY(0);
}






/* 
industry **************************************************************************************************************
*/





.industry__how_cont p{
    font-size: 18px;
    color: rgb(112, 119, 136);
    letter-spacing: 0px;
    line-height: 34px;
    margin-bottom: 0;
}
.industry__how_cont span{
    color: rgb(3, 153, 97);
    font-weight: 900;
}
.industry__how_bot > .solution__tabs_cont_itemb::after{
    content: "";
}

/* 
industry__process ---------------------------------------------------------------------------------------------------------
*/

.industry__home .features__home_title {
    padding-bottom: 20px;
}
.industry__process .features__smart_item{
    transition: background-color ease .4s;
}
.industry__process .features__smart_item:nth-child(1):hover{
    background-color: rgb(7, 209, 234);
}
.industry__process .features__smart_item:nth-child(2):hover{
    background-color: rgb(175, 149, 220);
}
.industry__process .features__smart_item:nth-child(3):hover{
    background-color: rgb(150, 197, 220);
}
.industry__process .features__smart_item:nth-child(4):hover{
    background-color: rgb(121, 218, 139);
}
.industry__process .features__smart_item:hover h3,
.industry__process .features__smart_item:hover p,
.industry__process .features__smart_item:hover span{
    color: #FFF !important;
}
.industry__process .advantage__info span{
    font-weight: 900;
}






/* 
contact **************************************************************************************************************
*/




.contact__home_item:nth-child(4),
.contact__home_item:nth-child(5),
.contact__home_item:nth-child(6){
    margin-top: 50px;
}
.contact__home_item h3{
    line-height: 40px;
    text-transform: uppercase;
    font-size: 28px;
    color: #35425F;
    letter-spacing: -1px;
    font-weight: 900;
}
.contact__home_item span{
    font-size: 15px;
    color: #707788;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
}
.contact__home_item a{
    color: #3e79a0 !important;
    font-size: 14px;
}
.cart__cont{
    margin: 50px auto;
}
.cart__cont_ifram{
    width: 100%;
    height: 400px;
}





/* 
buildings__home **************************************************************************************************************
*/




.login__cont_header{
    width: 100%;
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
}
.login__logo{
    width: 100px;
}
.login__logo img{
    width: 100%;
    display: block;
}
.login__home{
    background-image: url(../../media/img/loginPage/bg.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login__home_title h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1px;
    color: #fff !important;
    text-align: center;
}
.login__form{
    margin-top: 40px;
}
.login__inputs{
    margin-bottom: 30px;
}
.login__inputs input{
    border-radius: 4px;
    background-color: #fff;
    border: 0;
    padding: 10px 22px;
    height: 48px;
    line-height: 13px;
    display: block;
    width: 100%;
    outline: 0;
    font-size: .9375rem;
}
.login__inputs input:invalid{
    border: 3px solid #f63372;
}
.login__inputs input:first-child{
    margin-bottom: 3px;
}
.login__button input{
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    background-color: #3284ff;
    color: #FFF !important;
    font-size: .9375rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
}
.login__forgot a{
    color: #fff !important;
    text-decoration: none;
    margin-top: 23px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
.login__forgot a:hover{
    text-decoration: underline !important;
}
.login__footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.login__footer_cont h3{
    color: #fff;
    font-size: 12px;
}
.login__home_title p{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}
.form__forgot{
    margin-top: 20px;
}





/* 
request **************************************************************************************************************
*/




.section__welcome_cont{
    margin-top: 50px;
}
.section__welcome_item_icon{
    width: 48px !important;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #ffa124;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}
.section__welcome_item_icon img{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.section__welcome_item_par{
    max-width: 300px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.section__welcome_item:nth-child(2) > div{
    border: 1px solid #5cca55;
}
.section__welcome_item_icon_lightning{
    top: -65px !important;
}
.section__welcome_item:nth-child(3) > div{
    border: 1px solid #3284ff;
}
.section__welcome_item_icon_sofa{
    top: -155px !important;
}
.section__welcome_footer .login__footer_cont{
    transform: translateX(50%);
}
.login__home_title .section__request_title{
    color: #000 !important;
}
.section__request_item{
    width: 48%;
    margin-top: 30px;
}
.section__request_item:last-child{
    width: 100%;
}
.section__request_item span{
    color: #1f1d2a;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section__request_item input{
    height: 48px;
    padding: 16px;
    border: 1px solid #e0dee3;
    border-radius: 3px;
    background: #fff;
    color: #1f1d2a;
    font-size: 13px;
    transition: border-color ease .2s;
    outline: none;
}
.section__request_item input:hover{
    border-color: #b3b3bd;
}
.login__forgot_captcha{
    width: 60%;
    margin: 30px auto 0;
}
.login__forgot_captcha img{
    width: 100%;
    display: block;
}
.section__request_cont .login__button{
    max-width: 360px;
    margin: 30px auto 0;
}
.section__request_cont .login__forgot a{
    color: #000 !important;
}